---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Tweet from '../components/Tweet.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = await getCollection('blog')
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<style>
		.post-container {
			padding: 0;
			margin: 0;
			list-style: none;
			/* space y 1 rem */
			display: grid;
			gap: 1rem;
		}
		.post-subcontainer {
			border: 1px solid #eaeaea;
			border-radius: 15px;
			overflow: clip;
		}
		.post {
			width : 100%;
			padding: 1rem;
			list-style: none;
			text-decoration: none;
			color: inherit;
			display: block;
			&:hover {
				background-color: #f9f9f9;
			}
			label {
				cursor: pointer;
			}
			small {
				display: block;
				margin-top: 0.5rem;
				font-size: 0.9rem;
				color: #666;
			}
		}
	</style>
	<body>
		<main>
			<h1>Unresolved Conflict</h1>
			<ul class="post-container">
				{posts.map((post) => (
					<li class="post-subcontainer">
						<a class="post" href={post ? '/blog/' + post.slug : '/'}>
							<label>{post ? post.data.title : ''}</label>
							{post.data.isLongPost ? "" : <Tweet slug={post.slug} />}
							<small><FormattedDate date={post.data.pubDate} /></small>
						</a>
					</li>))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
